body{
    margin:0;
    background: darkgray;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* In this case, since its a game simulation, there is no overflow to avoid scroll bars. */
#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}
#carCanvas{
    background: lightgray;
}

#networkCanvas{
    background: black;
}